html,
body,
.site,
.site-content,
.site-header .menu,
.page,
.home .animation-container {
  background: #000;
  height: 100%;
  width: 100%;
}

.helvetica {
  font-family: "HelveticaNeue-UltraLight";
}

.home .circle p {
  font-family: "kepler";
}

.site-header .grid-toggle,
.site-header .menu-toggle, html,
body,
.site,
.site-content,
.page {
  margin: 0;
  padding: 0;
}

.site-header .grid-toggle,
.site-header .menu-toggle {
  background-color: initial;
  border: initial;
  border-radius: initial;
  box-shadow: initial;
  color: initial;
  font: initial;
  text-shadow: initial;
  --webkit-appearance: none;
}

.home {
  background-color: #000;
  color: #FFF;
}

.home .animation-container {
  position: relative;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-animation: fade-in 4s;
  animation: fade-in 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home .circle {
  background-color: #000;
  border-radius: 1000px;
  overflow: hidden;
  left: 50%;
  line-height: 81px;
  position: absolute;
  top: 50%;
  -webkit-animation: rotate 3s;
  animation: rotate 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home .circle p {
  display: block;
  font-size: 81px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -300px;
  text-align: left;
  width: 1000px;
}

.home .circle p > span {
  display: block;
}

.home .circle p .helvetica {
  font-size: 67px;
}

.home .c1 {
  height: 1000px;
  margin-left: -500px;
  margin-top: -500px;
  -webkit-transform: rotate(810deg);
  -ms-transform: rotate(810deg);
  transform: rotate(810deg);
  width: 1000px;
  z-index: 1;
}

.home .c2 {
  height: 900px;
  margin-left: -450px;
  margin-top: -450px;
  -webkit-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
  width: 900px;
  z-index: 2;
}

.home .c3 {
  height: 800px;
  margin-left: -400px;
  margin-top: -400px;
  -webkit-transform: rotate(630deg);
  -ms-transform: rotate(630deg);
  transform: rotate(630deg);
  width: 800px;
  z-index: 3;
}

.home .c4 {
  height: 700px;
  margin-left: -350px;
  margin-top: -350px;
  -webkit-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
  width: 700px;
  z-index: 4;
}

.home .c5 {
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
  -webkit-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  transform: rotate(450deg);
  width: 600px;
  z-index: 5;
}

.home .c6 {
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  width: 500px;
  z-index: 6;
}

.home .c7 {
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  width: 400px;
  z-index: 7;
}

.home .c8 {
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 300px;
  z-index: 8;
}

.home .c9 {
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 200px;
  z-index: 9;
}

.home .c10 {
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 100px;
  z-index: 10;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */